<html>
<head>
    <title>test</title>
</head>
<body>
<h1>Ben Standen &ndash; Curriculum Vitae</h1>
<p>292 Ware Road</p>
<p>Hertford</p>
<p>Hertfordshire</p>
<p>DOB: 23<sup>rd</sup> September 2000</p>
<p>Email: ben.standen2000@gmail.com</p>
<p><strong>Personal statement</strong></p>
<p>&nbsp;</p>
<p>I am a hard working and conscientious student and have proven myself trustworthy due to the roles on the Student Parliament and Senior Leadership Team given to me by my school. I am punctual with 100% attendance at school and no unauthorised absences. My school has consistently praised my good attitude to learning and willingness to work hard while overcoming new challenges and obstacles. In the future I aspire to attend university to study Computer Science as this is a field I am very passionate about.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>Education</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>Simon Balle School, Hertford</strong></p>
<p><em>(September 2012 &ndash; Present)</em></p>
<p>&nbsp;</p>
<p><strong>GCSE</strong>:</p>
<table>
<tbody>
<tr>
<td width="301">
<p>Qualification</p>
</td>
<td width="308">
<p>Grade Attained</p>
</td>
</tr>
<tr>
<td width="301">
<p>Maths (9-1)</p>
</td>
<td width="308">
<p>8</p>
</td>
</tr>
<tr>
<td width="301">
<p>English Literature (9-1)</p>
</td>
<td width="308">
<p>8</p>
</td>
</tr>
<tr>
<td width="301">
<p>English Language (9-1)</p>
</td>
<td width="308">
<p>8</p>
</td>
</tr>
<tr>
<td width="301">
<p>Computer Science</p>
</td>
<td width="308">
<p>A*</p>
</td>
</tr>
<tr>
<td width="301">
<p>Physics</p>
</td>
<td width="308">
<p>A*</p>
</td>
</tr>
<tr>
<td width="301">
<p>Biology</p>
</td>
<td width="308">
<p>A*</p>
</td>
</tr>
<tr>
<td width="301">
<p>Chemistry</p>
</td>
<td width="308">
<p>A*</p>
</td>
</tr>
<tr>
<td width="301">
<p>Philosophy, Religion and Ethics</p>
</td>
<td width="308">
<p>A</p>
</td>
</tr>
<tr>
<td width="301">
<p>Geography</p>
</td>
<td width="308">
<p>B</p>
</td>
</tr>
<tr>
<td width="301">
<p>History</p>
</td>
<td width="308">
<p>B</p>
</td>
</tr>
</tbody>
</table>
<p><strong>&nbsp;</strong></p>
<p><strong>Other Qualifications:</strong></p>
<table>
<tbody>
<tr>
<td width="301">
<p>Qualification</p>
</td>
<td width="308">
<p>Grade Attained</p>
</td>
</tr>
<tr>
<td width="301">
<p>ECDL Certificate in IT Application Skills</p>
</td>
<td width="308">
<p>Distinction*</p>
</td>
</tr>
<tr>
<td width="301">
<p>English Spoken Language Assessment</p>
</td>
<td width="308">
<p>Distinction</p>
</td>
</tr>
<tr>
<td width="301">
<p>Physical Education Leadership</p>
</td>
<td width="308">
<p>Merit</p>
</td>
</tr>
<tr>
<td width="301">
<p>Level 3 Algebra (A-level equivalent)</p>
</td>
<td width="308">
<p>Pass</p>
</td>
</tr>
</tbody>
</table>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>A-Level:</strong></p>
<table>
<tbody>
<tr>
<td width="301">
<p>Qualification</p>
</td>
<td width="308">
<p>Grade Attained</p>
</td>
</tr>
<tr>
<td width="301">
<p>Mathematics</p>
</td>
<td width="308">
<p>A</p>
</td>
</tr>
<tr>
<td width="301">
<p>Computer Science</p>
</td>
<td width="308">
<p>B</p>
</td>
</tr>
<tr>
<td width="301">
<p>Geography</p>
</td>
<td width="308">
<p>A*</p>
</td>
</tr>
</tbody>
</table>
<p><strong>&nbsp;</strong></p>
<p><strong>Employment</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>Stock Control Customer Assistant</strong></p>
<p><strong>Tesco PLC, Tesco Superstore Hertford</strong></p>
<p><em>(September 2017 &ndash; April 2019)</em></p>
<p><strong>&nbsp;</strong></p>
<p><strong>Achievements and Extra-Curricular Activities</strong></p>
<p>&nbsp;</p>
<ul>
<li>Attended 3 days work experience at GSK achieving the Bronze Industrial Cadet award.</li>
<li>Achieved two awards and a Roll of Honour for excellence in Computer Science through my school.</li>
<li>Attended my school&rsquo;s Debating Society and have been part of the Rotary Youth Speaks competition twice achieving runner-up in 2016.</li>
<li>Had an active role as a prefect at school for 2 years.</li>
<li>Played an active role in my school&rsquo;s student parliament and been a form representative on multiple occasions.</li>
<li>Am a member of my school&rsquo;s Senior Student Leadership Team.</li>
<li>Received a Bronze award in the UK Intermediate Mathematical Challenge and Advanced Mathematical Challenge.</li>
<li>Taken part in the HM Government Cyber Discovery extra-curricular programme.</li>
</ul>
<p>&nbsp;</p>
<p><strong>&nbsp;</strong></p>
<p><strong>Hobbies &amp; Interests</strong></p>
<p>&nbsp;</p>
<p>One of my main interests is computer science which I engage in by creating basic programs and games to develop my coding ability. Recently I have also taken part in the Cyber Discovery programme which is an online extra-curricular activity involving challenging coding and logic problems that have put my abilities to the test.</p>
<p>&nbsp;</p>
<p>In school I have also always been looking to improve my public speaking skills by being a part of the Debating Society for three years and competing in the Rotary Youth Speaks competition twice. Outside of school I play badminton every Saturday where I often work as a team and train with others and I also enjoy creative writing which I have engaged in inside and outside of school.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>References</strong></p>
<p><strong>&nbsp;</strong></p>
<table>
<tbody>
<tr>
<td width="301">
<p><strong>Mr E Coy</strong></p>
<p>Simon Balle Head of Sixth Form</p>
<p>Mangrove Road</p>
<p>Email: <a href="mailto:coye@simonballe.herts.sch.uk">coye@simonballe.herts.sch.uk</a></p>
</td>
<td width="301">
<p><strong>Mrs P Strange</strong></p>
<p>Family Friend</p>
<p>Email: <a href="mailto:p.strange@ntlworld.com">p.strange@ntlworld.com</a></p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
</body>
</html>